.itemOverlay {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    width: 180%;
    height: 190px;
    border-radius: 50%;
    filter: blur(10px) saturate(200%) opacity(0.4);
    z-index: 2;
}